doctype html
html(lang="en")
    head
        link(rel="stylesheet", href="order/email.css", data-inline)
    body
        div.container
            div.top
                img.logo(src="https://inbev-epub-nife.herokuapp.com/bar.png", alt="Logo")
                p.order-id ORDER #{orderId}
            h3 Thank you for your support
            div
                a.view-orders(href="https://naijabarrescue.com/customer/dashboard") View your orders
                a.visit-store(href="https://naijabarrescue.com/states/lagos") Visit Store
            h3 Order Summary
            each voucher in vouchers
                div.order
                    img.order__image(src=voucher.image)
                    p.order__title=voucher.title
                    p=voucher.price